@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&family=Poppins:wght@400;500&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
}
body{
    font-family:sans-serif;
}
:root{
    --green:#12af4a;
    --lightGreen:#8ccc37;
    --trision:all .3s ease-in-out;
    --orange:rgb(255, 81, 0);
    --light:rgba(255,255,255,.7);
}
.btn{
    background: var(--orange);
    color: white;
    transition: var(--trision);
    cursor: pointer;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 10px 36px;
    border: 1px solid transparent;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn:hover{
    border: 1px solid var(--orange);
    background: transparent;
    color: white;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding:0 30px;
}
.navbar{
    background:rgba(0, 0, 0, 0.9);
    padding-bottom: 0;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(250,250,250,.3);
}
.navbar .container .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.navbar .container .logo .icon{
    color: var(--orange);
    margin-right: 8px;
    font-size: 28px;
}
.navbar .container .logo .name{
    color: rgba(255, 255, 255, 0.85);
    font-size: 22px;
}
.navbar .container .logo .name span{
    color:var(--orange);
    font-weight: normal;
}
.navbar .container .links ul{
    display: flex;
}
.navbar .container .links ul li{
    margin: 0 4px;
    padding: 4px 8px;
}
.navbar .container .links ul li a{
    color: rgba(255, 255, 255, 0.8);
    text-transform: capitalize;
    font-weight: 600;
    text-decoration: none;
}
.navbar .container .links ul li a:hover{
    color: var(--orange);
}
.navbar .container .btn:hover{
    border:none;
    outline: none;
}
.navbar .container .btn{
    font-size: 22px;
    background: transparent;
    color: var(--orange);
    border-radius: 0;
    border: none;
    outline: none;
    padding: 2px 8px;
    background: var(--orange);
    color: white;
    display: none;
}
.navbar .container .btn i{
    pointer-events: none;
}
@media(max-width:778px){
    .navbar .container .btn{
        display: block;
    }
    .navbar .container .links{
        position: fixed;
        left: 0;
        top: 0;
        width: 50%;
        background: var(--orange);
        height: 100vh;
        z-index: 20000;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        transform: translateX(-100%);
        transition: var(--trision);
        padding-top: 100px;
    }
    .navbar .container .links.active{
        transform: translateX(0);
    }
    .navbar .container .links ul{
        display: block;
        width: 100%;
        padding: 0;
    }
    .navbar .container .links ul li{
        padding: 10px 20px;
        max-width: 10px 0;
        border-bottom: 1px solid rgba(250,250,250,.3);
    }
    .navbar .container .links ul li:hover{
        background: #b93d03;
    }
    .navbar .container .links ul li a{
        color: rgba(255, 255, 255, 0.95);
    }
}
/* showcase */
.showcase{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(/img/anastase-maragos-fG0p4Qh_aWI-unsplash-min.jpg)  no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    color: white;
}
.showcase .container .text {
    padding-top: 100px;
    text-transform: capitalize;
}
.showcase .container .text h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.4;
    text-transform: uppercase;
}
@media(max-width:708px){
    .showcase .container .text h1{
        font-size: 40px;
    }
}
@media(max-width:580px){
    .showcase .container .text h1{
        font-size: 30px;
    }
}
@media(max-width:580px){
    .showcase .container .text h1{
        font-size: px;
    }
    .showcase{
        height: 90vh;
    }
}
.showcase .container .text p{
    color:var(--light) ;
    margin-bottom: 25px;
}
.showcase .container .text span{
    color: var(--orange);
}
.container .title{
    text-transform: uppercase;
    font-weight: 800;
    padding: 20px 0;
    color: rgb(255, 81, 0);
    position: relative;
    margin-bottom: 20px;
}
.container .title::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 8px;
    background: var(--orange);
}
/* about */
.about {
    padding: 80px 0;
    /* background: rgba(0, 0, 0, 0.85); */
}
.about .container{
    min-height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.about .container p{
    color:rgba(0, 0, 0, 0.65);
}
.about .container .img{

    flex: 1 1 30rem;
}
.about .container .text{
    flex: 1 1 30rem;
}
.about .container h1{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--orange);
}
/* our program section */
.program{
    padding: 40px 0 80px;
    background: rgba(0, 0, 20, 0.8);
}
.program .container .p{
    color:rgba(255, 255, 255, 0.8);
    margin-bottom: 50px;
    font-size: 20px;
    letter-spacing: normal;
}
.program .container .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
}
.program .container .grid .card{
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.program .container .grid .card p{
    color: rgba(0, 0, 0, 0.65);
    font-family: poppins;
    line-height: 1.7;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
}
.program .container .grid .card h3{
    text-transform: capitalize;
    margin-bottom: 25px;
    color: var(--orange);
}
.program .container .grid i{
    font-size: 40px;
    color: var(--orange);
    margin-bottom: 20px;
}
.program .container .grid h3{
    font-weight: 600;
    margin-bottom: 10px;
}
/* discount */
.discount{
    padding: 100px 0;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),
    url(/img/john-arano-h4i9G-de7Po-unsplash-min.jpg) center center/cover;
    text-align: center;   
    color: white;
    text-transform: capitalize;
}
.discount .container h1{
    font-size: 44px;
    margin-bottom: 20px;
}
@media(max-width:440px){
    .discount .container h1{
        font-size: 3epx;
    }
}
.discount .container p{
    color: var(--light);
    margin-bottom: 20px;
}
/* trainig  */
.training{
    padding: 30px 0;
    background: var(--orange);
    position: relative;
    height: 300px;
}
.training .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.training .container img{
    position: relative;
    height: 100%;
    width: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: cover;
}
@media(max-width:800px){
    .training .container {
        grid-template-columns: 1fr;
    }
    .training .container img{
        display: none;
    }
}
.training .container .text h1{
    color: white;
    text-transform: uppercase;
    font-size: 45px;
    margin-bottom: 10px;
}
.training .container .text p{
    color: var(--light);
    text-transform: capitalize;
    margin-bottom: 20px;
}
.training .container .text .btn{
    border:1px solid white;
    background: transparent;
}
.training .container .text .btn:hover{
    background: black;
}
/* featured */
.featured{
    /* background: linear-gradient(rgba(255,255,255,.69),rgba(255,255,255,.9)),
    url(/img/john-arano-h4i9G-de7Po-unsplash-min.jpg) center center/cover;
    */
    background: rgb(0, 0, 0,.65);
    padding: 50px 0 100px;
}
.featured .container .p{
    text-transform: capitalize;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.904);
}
.featured .container .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
}
.featured img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.featured .container .grid .card{
    background:white;
    box-shadow: 0 0 ;
    border-radius: 0;
    border-bottom: 10px solid var(--orange);
}
.featured .container .grid .card .text{
    padding:15px;
    text-align:center;
}
.featured .container .grid .card .text h3{
    color: var(--orange);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.featured .container .grid .card .text p{
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.65);

}
@media(max-width:1000px){
    .featured .container{
        max-width: 800px;
    }
    .featured .container .grid{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        gap: 30px;
    }
}
/* coached */
.coaches{
    padding: 80px 0;
    /* background: rgba(0, 0, 0, 0.85); */
}
.coaches .container h1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
    color: var(--orange);
}
.coaches .container h1::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 200px;
    height: 5px;
    border-radius: 2px;
    background: var(--orange);   
}
.coaches .container .p{
    text-align: center;
    line-height: 1.6;
    text-transform: capitalize;
    color:rgba(0,0,0,.7);
    margin-bottom: 50px;
}
.coaches .container .grid{
    display: flex;
    gap: 20px;
    position: relative;
}
.coaches .container .grid .card{
    position: absolute;
    top: 0;
    left: 0;
}
.coaches .container .grid .card .text{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(255,255,255,.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: var(--trision);
}
.coaches .container .grid .card:hover .text{
    opacity: 1;
}
.coaches .container .grid .card .text h3{
    text-transform: capitalize;
    font-size: 30px;
    font-family: josefin sans;
}
.coaches .container .grid .card .text p{
    text-transform: capitalize;
    margin-top: 10px;
}
/* carouselExampleCaptions */
.accordion-item, .accordion{
    border-bottom: 1px solid var(--orange);
}

/* shax */
.shax{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
    url(/img/ginny-rose-stewart-UxkcSzRWM2s-unsplash-min.jpg) center center/cover;
    padding: 80px 0;
}

.shax .container p{
    color:rgba(255, 255, 255, 0.85);
    margin-bottom: 40px;
}
.shax .table_wrapp{
    width: 100%;
    overflow: auto;

}
.shax .container table{
    width: 100%;
    width: 900px;
    border: 1px dotted var(--orange);
    color: white;
    text-transform: capitalize;
}
.shax .container table th{
    color:white ;
    background: var(--orange);
    border: none;
}
.shax .container table th, td{
    border: 1px dotted var(--orange);
}
.shax .container table th, td {
    padding: 10px;
}
.shax .container table td span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shax .container table td:first-child{
    background: #b93d03b0;
}
.shax .container table td span.n{
    font-weight: bold;
}

/* teach */
.teach{
    padding: 80px 0;
}
.teach .container h1{
    text-align: center;
}
.teach .container h1::after{
    left: 50%;
    width: 120px;
    border-radius: 4px;
    transform: translateX(-50%);
}
.teach .container .p{
    text-align: center;
    margin-bottom: 50px;
    text-transform: capitalize;
    font-family: poppins;
    color: rgba(0, 0, 0, 0.65);
}
.teach .container .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 10px;
}
.teach .container .grid .card img{
    height: 100%;
}
.teach .container .grid .card .pop{
   position: absolute;
   bottom: 50%;
   left: 0;
   opacity: 0;
   width: 100%;
   height: 40%;
   background: #b93d038f;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transform: translateY(100%);
   transition: all .4s ease-in-out;
   padding: 0;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.teach .container .grid .card .pop h3{
    text-transform:uppercase;
    font-weight: 800;
    margin: 0;
    padding: 0;
    color: white;
}
.teach .container .grid .card .pop p{
    color: white;
    font-family: josefin sans;
}
.teach .container .grid .card:hover .pop{
    opacity: 1;
}

/* carouselExampleSlidesOnly */
.mycrousel{
    color: white;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
    url(/img/ginny-rose-stewart-UxkcSzRWM2s-unsplash-min.jpg) center center/cover;
    padding: 80px 0;
}
.mycrousel .container h1{
    text-align: center;
}
.mycrousel .container h1::after{
    left: 50%;
    width: 120px;
    border-radius: 4px;
    background: white;
    transform: translateX(-50%);
}
.mycrousel .carousel-inner .carousel-item img{
    width: 160px;
    height: 160px;
}
.mycrousel .container #carouselExampleSlidesOnly .carousel-inner .carousel-item {
    text-align: center;
    padding: 0 20px;
}
.mycrousel .container #carouselExampleSlidesOnly .carousel-inner .carousel-item i{
    font-size: 45px;
    margin-bottom: 10px;
    color: var(--orange);
}
.mycrousel .container #carouselExampleSlidesOnly .carousel-inner .carousel-item img{
    border-radius: 100%;
    width: 120px;
    height: 120px;
    border: 2px solid var(--orange);
    margin-bottom: 10px;
}
.mycrousel .container #carouselExampleSlidesOnly .carousel-inner .carousel-item .name{
    text-transform: capitalize;
    color: var(--orange);
    font-weight: 600;
}
.mycrousel .container #carouselExampleSlidesOnly .carousel-inner .carousel-item .jop{
    text-transform: capitalize;
    color: var(--orange);
    font-weight: normal;
}
/* ------------------------------- */
.image-gallery{
    padding: 20px 0px 70px;
}
.image-gallery .container .p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 50px;
}
.image-gallery .container .p span{
    color: var(--orange);
    font-weight: 600;
}
.image-gallery .container .btns{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-bottom: 10px;
    margin-bottom: 20px;
}
@media(max-width:991px){
    .image-gallery .container .btns{
        width: 100%;
    }
}
.image-gallery .container .btns button{
    flex: 1;
    margin-right:2px;
    padding: 6px 0;
    background: var(--orange);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.65);
    text-transform: capitalize;
    font-family: josefin sans;
    border-radius: 24px;
}
.image-gallery .container .btns button:hover{
    text-decoration: underline;
}
.image-gallery .container .btns button.active{
    background: var(--green);
}
.image-gallery .container .images{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}
.image-gallery .container .images img{
    height: 250px;
}
.image-gallery .container .images img.hide{
    display: none;
}
.image-gallery .container .images img.show{
    display: block;
    animation: zoom .2s ease-in-out;
}
@keyframes zoom{
    0%{
        transform: scale(.5);
        opacity: .8;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
/* ------------------------------- */
/* contact */
.contact{
    padding: 50px 0;
     background: linear-gradient(rgba(255,255,255,.86),rgba(255,255,255,.5)),
    url(/img/map.jpg) center center/cover;
   
}
.contact .container{
    overflow: hidden;
    box-sizing: border-box;
}
.contact .container p{
    margin-bottom: 50px;
    color: rgba(0, 0, 0, 0.65);
}
.contact .container p span{
    color:var(--orange);
    text-transform: uppercase;
    font-weight: bold;
}
.contact .container h3{
    text-transform: capitalize;
    font-size: 30px;
    font-family: josefin sans;
    color: black;
    font-weight: bold;
}
.contact .container .inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding: 0 30px; */
}
.contact .container .inner form{
    flex: 1;
    width: 400px;
}
.contact .container .inner .img{
    flex: 1;
    width: 400px;
    height: 440px;
}
.contact .container .inner .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact .container .inner form .both{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    row-gap: 10px;
    margin-bottom: 10px;
}
@media(max-width:991px){
    .contact .container .inner{
        flex-direction: column;
    }
    .contact .container .inner form{
        width: 100%;
    }
    .contact .container .inner .img{
        width: 100%;
    }
}
@media(max-width:600px){
    .contact .container .inner form .both{
        grid-template-columns: 1fr;
    }
}
.contact .container .inner form .both input{
    border: 1px solid rgba(0,0,0,.3);
    padding: 10px;
    margin-bottom: 5px;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.65);
    color: var(--orange);
}
.contact .container .inner form ::placeholder{
    color: rgba(255,255,255,.7);
}
.contact .container .inner form textarea{
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid rgba(0,0,0,.3);
    padding: 10px;
    text-transform: capitalize;
    color: var(--orange);
}
.contact .container .inner form .btn{
    display: block;
    width: 100%;
}
.contact .container .inner form .btn:hover{
    background: rgba(0,0,0,.7);
}

/* footer */
footer
{
    padding: 40px 0 10px;
    background: linear-gradient(rgba(0,0,0,.85),rgba(0,0,0,.85)),
    url(/img/total-shape-TY_Ce5d2G-k-unsplash-min.jpg) center center/cover;
    
}
footer .container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
footer .container div h2{
    text-transform: capitalize;
    font-weight: 600;
    color: var(--orange);
    margin-bottom: 20px;
    font-size: 25px;
    font-family: josefin sans;
}
footer .container div ul{
    margin: 0;
    padding: 0;
}
footer .container div ul li{
    margin-bottom: 10px;
    text-transform: capitalize;
    color: rgba(255,255,255,.6);
}
footer .container div ul.flex li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .container div ul li .icon{
    background: var(--orange);
    color: black;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    border-radius: 24px;
}
footer .container div .form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--orange);
    padding:6px 10px;
    border-radius: 24px;
}
footer .container div .form i{
    color: white;
}
footer .container div .form input{
    width: 100%;
    background: transparent;
    color: white;
    padding-right: 17px;
    padding-left: 10px;
}
footer hr{
    color: rgba(255,255,255,.5);
    width: 90%;
    margin: 0 auto 10px;
}
footer .copy{
    text-align: center;
    color: rgba(255,255,255,.35);
    font-size: 14px;
    font-style: italic;
}
footer .copy span{
    color: rgba(255, 255, 255, 0.8);
}

.pop{
   left: 90%;
   bottom: 50px;
   transform: translateX(-90%);
    position: fixed;
    height: 50px;
    width: 40px;
    background:white;
    color: orange;
    z-index: 200000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--orange);
    transition: var(--trision);
    display: none;
    cursor: pointer;
}
.pop:hover{
    background: transparent;
}
.pop a{
    color: var(--orange);
}
.pop i{
    transform: rotate(180deg);
}








@media(max-width:440px){
    .about .container h1{
        font-size: 30px;
    }
    .discount .container h1{
        font-size: 33px;
    }
    .featured .container h1{
        font-size: 26px;
    }
    .training .container h1{
        font-size:px;
    }
}